@import "tailwindcss";

@theme {
  --color-primary: #1A56DB;
  --color-secondary: #10B981;
  --color-dark: #1F2937;
  --color-light: #F3F4F6;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply text-dark bg-light font-sans antialiased;
  }
}
